@use "sass:math";

@function rem($num){
	@return math.div($num,$globalFontsSize) + rem;
}

@mixin reset{
	margin: 0;
	padding: 0;
}

@mixin absoluteCentre {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
