*, :after, :before{
	box-sizing: border-box;
	@include reset;
}
body, html{
	font-family: $ff;
	font-size: calc(12px + 0.1vw);
}
body{
	overflow-x: hidden;
	color: $black;

	&.show{
		overflow-x: hidden;
		height: 100vh;

		.modal{
			/*position: fixed;
			background: scale($black: 0.4);
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;*/

			opacity: 1;
			z-index: 120;
		}
	}
}
label{
	user-select: none;
}
a{
	text-decoration: none;
	color: $black;
	transition: all ease .125s;

	&:hover{
		color: $orange;
	}
}
li {
	list-style: none;
}
b{font-weight: 600}
h1{
	font-size: calc(45px + .52vw);
	line-height: calc(55px + 1.56vw);
	font-weight: 400;
}
h2{
	font-size: calc(20px + .52vw);
	font-weight: 500;
}



.maket::after{
	content: "";
	@include absoluteCentre;
	background: url(".././img/lending-1920.png") no-repeat 50% 0;
	opacity: 0.2;
	z-index: 0;
}
.header{
	position: relative;
    top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100vh;
}
.header::before{
	content: "";
	background: url(../img/first-screen.png) no-repeat 50% 0;
	background-size: cover;
	@include absoluteCentre;
}
.container {
	max-width: $siteWidth + px;
	padding: 0 1.042vw;
	margin: auto;
	position: relative;
	height: 100%;
}

.header-line{
	padding: 1.979vw 0 1.823vw;
	position: relative;
	&::after{
		content: "";
		height: 1px;
		width: 100%;
		background: $black;
		opacity: .07;
		position: absolute;
		bottom: 0;
	}
}
.nav, .nav-mobile{text-transform: uppercase;}
.nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	.nav__item{padding: 0.26vw 1.042vw;}
	.nav__item .home{fill: $orange; color: $orange}
	.nav__item:first-child{padding-left: 0;}
	.nav__item:last-child{padding-right: 0;}
}
.header-info{
	font-size: calc(10px + .1vw);
	display: flex;
	justify-content: center;
	gap: 1.041vw;

	.header-info__item{
		//flex: 0 1;
		text-align: center;
		padding: 1vw 0 5vw;
		align-self: center;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 1.041vw;

		&:first-child,
		&:last-child{flex-basis: 33.07vw;}
	}
	.company-info{flex-basis: 10.677vw}
	.logo{
		flex-grow: 1;
		padding: 0;
		max-width: 100%
	}
}
.price-list{
	a{
		margin-left: 94px;
		position: relative;
		white-space: nowrap;

		&::before{
			content: "";
			position: absolute;
			left: -94px;
			top: 50%;
			transform: translate(0, -50%);
			width: 94px;
			height: 94px;
			background: url("../img/pdf.svg") no-repeat;
		}
		&::after{
			content: "";
			background: url("../img/dot.png") bottom space;
			position: absolute;
			left: 0;
			right: 0;
			top: 100%;
			bottom: -4px;
		}
	}
}

.messengers-box{
	span{
		position: relative;
		padding: 0 0 0 0.5vw;
		&::before{
			content: "";
			background: url("../img/dot.png") no-repeat 50% 50%;
			width: 0.26vw;
			height: 0.26vw;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translate(0, -50%);
		}
	}
	.messengers{
		margin: .5vw 0 0;
	}
}
.header-contacts{
	.phone{
		a{
			letter-spacing: 0.05em;
			font-size: calc(16px + 0.313vw);
			padding: 0.313vw 0;
			white-space: nowrap;

			&:hover{
				color: $green;
			}
		}
	}
	.call-back-btn{
		color: $green;
		text-decoration: underline dotted;
	}
}

.first-screen{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 3.698vw;

	.advantages-box{
		flex: 0 0 11.718vw;

		.advantages{
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			position: relative;
			z-index: 1;
			padding: 2.5vw 2.239vw;
			background: $white;
			border-radius: 20px;
			box-shadow: 0 0 75px rgba(0, 0, 0, 0.03);

			&::before{
				content: "";
				position: absolute;
				top: -20px;
				left: 0;
				right: 0;
				height: 50px;
				background: url("../img/list-form.png") no-repeat 50%;
				background-size: contain;
			}

			.advantages__item{
				padding: 1.25vw 0;
				position: relative;
				text-align: center;

				&::after{
					content: "";
					position: absolute;
					bottom: -2vw;
					left: 0;
					right: 0;
					height: 2.8vw;
					background: url("../img/list-shadow.png") no-repeat;
					background-size: contain;
				}
			}
			.advantages__item:first-child{
				padding-top: 0;
			}
			.advantages__item:last-child{
				padding-bottom: 0;

				&::after {
					content: none;
				}
			}
		}
	}
	.first-screen__content{
		flex: 0 0 37.916vw;

		.first-screen__text{
			font-size: calc(22px + 0.52vw);
			line-height: calc(29px + .52vw);
			margin: 0 0 2.34vw 74px;
			position: relative;
			&::before{
				content: "";
				position: absolute;
				left: -74px;
				top: 50%;
				background: url("../img/rounds.svg") no-repeat 0 50%;
				height: 10px;
				width: 58px;
			}
		}
	}
}

.btn{
	box-shadow: inset 0 0 22px rgba(255, 255, 255, 0.25);
	border-radius: 500px;
	padding: 1.40vw 5vw 1.56vw 1.56vw;
	margin: 0.5vw 0;
	display: inline-block;
	max-width: 350px;
	width: 18.229vw;
	min-width: 330px;
	min-height: 80px;
	font-weight: 600;
	line-height: calc(16px + 0.2vw);
	text-align: center;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: $white;
	position: relative;
	transition: all 0.125s ease;

	&.btn_green{background-color: $green;}
	&.btn_orange{background-color: $orange;}

	&.btn_green:hover{background-color: $light-green;}
	&.btn_orange:hover{background-color: $light-orange;}

	&::after{
		content: "";
		position: absolute;
		top: 50%;
		right: 3vw;
		transform: translate(0, -50%);
		width: 21px;
		height: 20px;
		background: url("../img/arrow.svg");
		margin: 0 0 0 1.56vw;
	}

	&:hover{
		color: $white;
	}
}
.first-screen__promotion{
	line-height: calc(16px + 0.2vw);
	max-width: 350px;
	min-width: 300px;
	width: 12.239vw;
	text-align: center;
	margin: 1.979vw 0 0 2.188vw;
	position: relative;

	&::before{
		content: "";
		position: absolute;
		left: -2.188vw;
		top: 0;
		width: 26px;
		height: 20px;
		background: url("../img/hand-icon.svg");
	}
}
.modal{
	position: fixed;
	background-color: rgba($black, 0.4);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	z-index: -1;
	transition: all 0.25s ease;

	.modal-container{
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.modal__form-container{
		position: relative;
		max-width: 560px;
		width: 100%;
		max-height: 650px;
		height: 100%;
		padding: 70px 67px 93px;
		background: radial-gradient(94.73% 82.42% at 100% 0%, #FEFEFE 0%, #FEFEFE 11.66%, #F7F9FA 39.03%, #F7F9FB 56.21%, #F5F8FA 100%);
		border-radius: 35px;
		text-align: center;
	}
	.modal__close{
		position: absolute;
		right: 47px;
		top: 45px;
		background: url("../img/popup-close.svg") no-repeat;
		height: 20px;
		width: 21px;
		cursor: pointer;
	}

	.modal__info{
		padding: 10px 0 20px;
		margin: 0 0 8px;
	}

	.modal__headline{
		margin: 14px 0;
	}

	.modal__text{
		font-size: calc(14px + .1vw);
		line-height: calc(20px + .208vw);
		margin: 14px 0 24px;
	}

	.modal__time-work{
		font-size: calc(10px + .1vw);
	}

	.modal__form{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.form-field{
		margin: 8px 0 12px;
		font-size: calc(10px + .1vw);
		text-align: left;

		span{
			padding: 0 0 0 50px;
		}
	}

	.phone-input{
		display: block;
		background: $white;
		box-shadow: 0 0 50px rgba(0, 0, 0, 0.05);
		border-radius: 500px;
		outline: none;
		border: none;
		font-size: calc(12px + .325vw);
		line-height: calc(18px + .1vw);
		color: lighten($black, .5);
		padding: 24px 46px;
		margin: 12px auto;
		max-width: 350px;
		width: 18.229vw;
		min-width: 330px;
		min-height: 80px;

		&:focus,
		&:active{
			outline: none;
			border: none;
		}
	}

	.btn_send{
		text-transform: none;
		outline: none;
		border: none;
		font-size: calc(14px + .1vw);
		margin: .5vw 0 1vw;
		cursor: pointer;

		&:focus,
		&:active{
			outline: none;
			border: none;
		}
		&:disabled{
			background: $gray;
			cursor: not-allowed;
		}

		&::after{
			background-image: url("../img/arrow-send.svg");
			width: 29px;
			height: 29px;
			right: 5vw;
		}
	}

	.check-policy{
		text-align: left;
		padding: 0 0 0 30px;
		max-width: 330px;
		position: relative;
		font-weight: 500;
		font-size: rem(12);
		line-height: rem(21);

		a{
			color: $orange;

			&:hover{
				text-decoration: underline dotted;
			}
		}

		span::before{
			content: "";
			position: absolute;
			border-radius: 4px;
			left: 0;
			top: 50%;
			transform: translate(0, -50%);
			height: 18px;
			width: 18px;
			background: $orange;
			cursor: pointer;
		}
		.check-policy__input:checked + span::after{
			content: "";
			position: absolute;
			left: 5px;
			top: 50%;
			transform: translate(0, -50%);
			background: url("../img/checkbox.png") no-repeat;
			height: 6px;
			width: 8px;
		}

		.check-policy__input[type='checkbox']{
			display: none;
		}
	}

	.modal__info_success{
		opacity: 0;
		transform: scale(0.9);
		transition: all 0.25s ease;

		&.show{
			opacity: 1;
			transform: scale(1);
		}
	}
}