$ff: 'Montserrat', sans-serif;
$siteWidth: 1570;
$spaceCol: 20;

$globalFontsSizePx: 14;
$globalFontsSize: 14;

// Colors
$white: #fff;
$green: #12C868;
$light-green: #21E27C;
$orange: #F38120;
$light-orange: #FD9C49;
$blue: #EDF2F5;
$gray: #B5B5B5;
$black: #1C1C1C;